@model IEnumerable<MatzesMusicShop.ViewModels.CartItemViewModel>
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ShoppingCart.css" rel="stylesheet" type="text/css" />
    <title>Index</title>

</head>
<body>
    <hr />
    <h2>Warenkorb</h2>
    <hr />
    <div>
        @if (Model != null)
        {
            <table class="table">
                <tr>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Anzahl</th>
                    <th>Preis</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                        <td>@Html.DisplayFor(modelItem => item.Album)</td>
                        <td>@Html.DisplayFor(modelItem => item.Anzahl)</td>
                        <td>@Html.DisplayFor(modelItem => item.Preis) €</td>
                        <td>
                            @Html.ActionLink("Add", "AddItem", new { id = item.CdID }) |
                            @Html.ActionLink("Remove", "RemoveItem", new { id = item.CdID }) |
                            @Html.ActionLink("Remove all", "RemoveAll", new { id = item.CdID })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <hr />
    @{
        decimal gesamt = 0;
        Model.ToList().ForEach(c => gesamt += c.Preis);
    }
    <h4>Gesamt: @gesamt €</h4>
    @Html.ActionLink("Checkout", "Index", "User", null, new { @class = "btn btn-primary" })
</body>
</html>
