@model MatzesMusicShop.ViewModels.AddToCartViewModel

@{
    string addToCartMsg = "Der Artikel wurde dem Warenkorb hinzugefügt";
}

<div>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">In den Warenkorb</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zum Warenkorb hinzufügen</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="form-container">
                    <form id="AddToCartForm">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CD.Id)
                            @Html.HiddenFor(model => model.CD.Album)
                            @Html.HiddenFor(model => model.CD.Artist)
                            @Html.HiddenFor(model => model.CD.Beschreibung)
                            @Html.HiddenFor(model => model.CD.PictureUrl)
                            @Html.HiddenFor(model => model.CD.Price)
                            <div id="addToCartControls" class="form-group form-inline" style="display:block">
                                <div class="atcContent">
                                    <label class="atcLabel">Anzahl</label>
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { style = "width:100px", type = "number", min = "1", max = "12", @class = "form-control atcDropDown" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                    <br />
                                    <input id="atcSubmit" type="submit" value="hinzufügen" class="btn btn-primary atcButton" />
                                    <button id="atcClose" type="button" class="btn btn-primary atcButton" data-dismiss="modal">Zurück</button>
                                </div>
                            </div>
                            <div id="addToCartMessage" class="form-group" style="display:none">
                                <div class="atcContent">
                                    <div id="atcMsg">@addToCartMsg</div>
                                    <div class="atcOk"><i class="glyphicon glyphicon-ok"></i></div>
                                    <button id="msgButton" type="button" class="btn btn-primary atcButton" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
