@model MatzesMusicShop.ViewModels.AddToCartViewModel
<link href="~/Content/Details.css" rel="stylesheet" />

@{
    int tempID = Model.CD.Id;
}

<hr />
<h2>@Html.DisplayFor(model => model.CD.Artist) - @Html.DisplayFor(model => model.CD.Album)</h2>
<hr />
<div>
    <table>
        <tr>
            <td>
                <img src=@Html.DisplayFor(model => model.CD.PictureUrl) width="200" height="200" />
            </td>
            <td class="desription">
                @Html.DisplayFor(model => model.CD.Beschreibung)
            </td>
        </tr>
    </table>
</div>
<hr />
<h4>Einzelpreis: @Html.DisplayFor(model => model.CD.Price) €</h4>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CD.Id)
            @Html.HiddenFor(model => model.CD.Album)
            @Html.HiddenFor(model => model.CD.Artist)
            @Html.HiddenFor(model => model.CD.Beschreibung)
            @Html.HiddenFor(model => model.CD.PictureUrl)
            @Html.HiddenFor(model => model.CD.Price)
            <div class="form-group">
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { style = "width:100px", type = "number", min = "1", max = "12", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    <br />
                    <input type="submit" value="Add To Cart" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    @Html.ActionLink("Back to List", "Index")
    <hr />
    @Html.Action("CommentForm", "Comments")
    <hr />
    <div id="comments">
    </div>

    <!--Html.Action("CommentList", "Comments")-->
</p>

@section Scripts {
    <script>
        var interval = 0;
        var obj = {}; // specify the parameters
        var tempData = {};

        window.setInterval(poll, interval);
        function poll() {
            interval = 10000;
            $.ajax({
                url: "/Comments/CommentList",
                type: "GET",
                data: obj,
                success: function (data) { 
                    if (data != tempData) { // Wenn die Daten sich unterscheiden
                        tempData = data;
                        $("#comments").html(data);
                    }
                }
            });
        }
    </script>
}


