@model MatzesMusicShop.ViewModels.AddToCartViewModel

<link href="~/Content/Details.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<hr />
<h2>@Html.DisplayFor(model => model.CD.Artist) - @Html.DisplayFor(model => model.CD.Album)</h2>
<hr />
<div>
    <table>
        <tr>
            <td>
                <img src=@Html.DisplayFor(model => model.CD.PictureUrl) width="200" height="200" />
            </td>
            <td class="desription">
                @Html.DisplayFor(model => model.CD.Beschreibung)
            </td>
        </tr>
    </table>
</div>
<hr />
<h4>Einzelpreis: @Html.DisplayFor(model => model.CD.Price) €</h4>
<hr />
@Html.Partial("_AddToCartModal", Model)
<br />
@Html.ActionLink("Back to List", "Index")
<hr />
<div>
    <button type="button" id="showCommentForm" class="btn btn-info btn-lg">
        <i class="glyphicon glyphicon-chevron-down"></i> Neuer Kommentar
    </button>
</div>
<div id="commentForm">
</div>
<hr />
<div id="comments">
</div>

@section Scripts {
    <script>
        var interval = 1000;
        var obj = {}; // specify the parameters
        var tempData = {};
        var commentExpanded = false;

        window.setInterval(poll, interval);
        function poll() {
            interval = 10000;
            $.ajax({
                url: "/Comments/CommentList",
                type: "GET",
                data: obj,
                success: function (data) {
                    if (data != tempData) { // Wenn die Daten sich unterscheiden
                        tempData = data;
                        $("#comments").html(data);
                    }
                }
            });
        }
        
        $("#showCommentForm").click(function () {
            $.ajax({
                url: "/Comments/CommentForm",
                type: "GET",
                success: function (data) {
                    if (!commentExpanded) {
                        $("#showCommentForm i").removeClass("glyphicon glyphicon-chevron-down");
                        $("#showCommentForm i").addClass("glyphicon glyphicon-chevron-up");
                        commentExpanded = true;
                        $("#commentForm").html(data);
                    }
                    else {
                        $("#showCommentForm i").removeClass("glyphicon glyphicon-chevron-up");
                        $("#showCommentForm i").addClass("glyphicon glyphicon-chevron-down");
                        commentExpanded = false;
                        $("#commentForm").empty();
                    }
                }
            });
        });

        // this is the id of the form
        $("#AddToCartForm").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    $("#addToCartControls").hide();
                    $("#addToCartMessage").show();
                }
            });
        });

        $('#myModal').on('hidden.bs.modal', function () {
            $("#addToCartControls").show();
            $("#addToCartMessage").hide();
        });

        $("#msgButton").click(function () {
            window.location = "http://localhost:57958/CDs";
        });
    </script>
}


